* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
}

body {
    height: 100%;
    background-color: #FEFAE0;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 40px; 
    margin: 0;
    height: 50px;
    background-color: #CCD5AE; 
}

a, h1, h2, p, span {
    color: #190C00;
    text-decoration: none;
}

.header-left a {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 1.5em;
}

.header-right a {
    padding: 0px 3px;
    font-weight: 500;
    font-size: 1.2em;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    height: calc((100vh - 50px)*.45);
    background-color: #E9EDC9;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 60%;
}

.hero-text h1 {
    margin-bottom: 10px;
    text-align: end;
    font-family: 'Space Mono';
    font-size: 3.5em;
    line-height: 70px;
}

.hero-text p {
    text-align: end;
    font-size: 1.2em;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc((100vh - 50px)*.55);
}

h2 {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 2em;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 250px;
    padding: 10px;
    border: solid 6px #D4A373;
    border-radius: 20px;
    background-color: #FAEDCD;
}

.card span {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 1.5em;
    font-weight: bold;
}

.card .icon {
    color: #D4A373;
    size: 5em;
}