* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
}

body {
    height: 100%;
    background-color: #FEFAE0;
}

a, h1, h2, p, span {
    color: #190C00;
    text-decoration: none;
}
p.slogan{
    font-size: 25px;
    color: rgb(64, 63, 63);
    /* font-style: italic; */
    /* text-shadow: -1px -1px 0 #D4A373, 1px -1px 0 #D4A373, -1px 1px 0 #D4A373, 1px 1px 0 #D4A373; */
}
.card .hover-text {
    display: none;
    text-align: center;
    font-size: 1em;
    color: #333;
    margin-top: 10px;
}

.card:hover .hover-text {
    display: block;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    height: calc((100vh - 50px)*.45);
    background-color: #E9EDC9;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 60%;
}

.hero-text h1 {
    margin-bottom: 10px;
    text-align: end;
    font-family: 'Space Mono';
    font-size: 3.5em;
    line-height: 70px;
}

.hero-text p {
    text-align: end;
    font-size: 1.2em;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc((100vh - 50px)*.55);
}

h2 {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 35px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    width: 20vw;
    height: 250px;
    padding: 10px;
    border: solid 6px #D4A373;
    border-radius: 20px;
    background-color: #FAEDCD;
    transition: border-width 0.3s ease-in-out;
}

.card span {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 1.5em;
    font-weight: bold;
}

.card .icon {
    color: #D4A373;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    border-width: 8px;
    font-family: 'IBM Plex Sans';
    .icon {
        transform: scale(1.2);
    }
}