* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcf3d6;
    height: auto;
}

a {
    font-family: Sans-serif;
    color: #190C00;
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Space Mono';
}

h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 15px;
}

p, label, span {
    font-family: 'IBM Plex Sans';
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.live-posts {
    max-width: 600px;
    background-color: #E9EDC9;
    height: 600px;
    border-radius: 15px;
    padding: 20px;
    overflow-y: scroll;
}

.post {
    background-color: #FEFAE0;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E9EDC9;
    height: 500px;
    width: 600px;
    padding: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.post {
    margin: 0 0 20px 0;
}

.button {
    background-color: #cfa381;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    &:hover {
        background-color: #cf9a72;
    }
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#new-event-description {
    height: 200px;
}

#submit-container {
    display: flex;
    justify-content: center;
}

input, textarea {
    border: solid 2px #CCD5AE;
}

input {
    height: 30px;
}

#creator-name {
    width: 230px;
}

#email {
    width: 270px;
}

#event-name {
    width: 350px;
}

label {
    margin-bottom: 7px;
}

.email-display {
    color: rgb(92, 92, 92);
}