* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEFAE0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #190C00;
}

.hero h1, .hero h2 {
  text-align: center;
  color: #190C00;
  font-family: 'Space Mono', monospace;
}

.hero h1 {
  font-size: 4em;
}

.hero h2 {
  font-weight: lighter;
}

a {
  font-family: sans-serif;
  color: #190C00;
  text-decoration: none;
}

label {
  font-family: 'IBM Plex Sans', sans-serif;
}

.hero {
  background-color: #E9EDC9;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-container {
  max-width: 600px;
  margin: 20px auto 50px auto;
  padding: 20px;
  background-color: #FEFAE0;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#submit-div {
  display: flex;
  justify-content: center;
}

.text-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #FAEDCD;
  border-radius: 5px;
  font-size: 16px;
  font-family: sans-serif;
}

textarea {
  height: 100px;
  resize: vertical;
}

#submit, #new-form-button {
  background-color: #D4A373;
  color: #190C00;
  border: 1px solid #190C00;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  width: 110px;
  height: 50px;
}

#new-form-button {
  margin-top: 20px;
}

#confirmation-message {
  height: auto;
  flex-direction: column;
  align-items: center;
}

.required {
  color: red;
  margin-left: 3px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
  }
}