* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFAE0;
}

header {
    position: fixed; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 40px; 
    background-color: #CCD5AE; 
    margin: 0;
}

.topBarLeft {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 30px;
}

.topBarRight {
    display: flex;
    gap: 20px;
    font-size: 24px;
}

a {
    font-family: Sans-serif;
    color: #190C00;
    text-decoration: none;
}