* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFAE0;
}

a {
    font-family: Sans-serif;
    color: #190C00;
    text-decoration: none;
}

.pageTitle {
    height: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.pageTitle h1 {
    color: #190C00; 
    text-align: center;
    font-size: 60px;
}

.boxForTransitOption {
    display: flex;
    align-items: center;
    flex-direction: column; /* I needed to add this to ensure that the title went above the image / txt*/
    background-color: #dee8be;
    border-radius: 15px;
    margin: 10px;
    height: 260px;
    width: 600px;
    padding-top:20px;
}

.individualTransitOptionTitle {
    font-size: 30px;
    text-align: center;
}


.individualTransitOptionDescription {
    font-size: 18px;
    max-width: 250px;
    text-align: center;
}

.containerGrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 70px; 
    padding: 40px;
    
}

.gridImage {
    width: 35%;
}

.contentWithinBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: top; /* this makes the image / text higher up vertically  */
    gap: 40px;
}

#rightSideContentWithinBoxConcordCoach {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

#rightSideContentWithinBoxBrunswickLink {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

#rightSideContentWithinBoxBreez {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

#rightSideContentWithinBoxAmtrak {
    display: flex;
    gap: 13px;
    flex-direction: column;
}


.infoLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.main a {
    background-color:  #bc8b5d;
    font-family: Sans-serif;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 15px;
}

.infoLinks a:hover {
    background-color:  #FEFAE0;
    cursor: pointer;
}

h1, h2 {
    font-family: 'Space Mono';
}

h1 {
    margin-top: 50px;
}

h2 {
    margin-bottom: 10px;
}

p, a {
    font-family: 'IBM Plex Sans';
}

